* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    list-style: none;
    /*background-image: url(bg\ main.png);*/
}
body{
    color: #ededed;
}
.header{
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     padding: 20px 12%;
     background: #081b29;
     display: flex;
     justify-content: space-between;
     align-items: center;
     z-index: 100;
}
.logo{
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    transition: 0.3s ease;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.logo:hover {
    color: #0ef;
    text-shadow: 0 0 25px cyan,
                 0 0 25px cyan;
                 transform: scale(1.1);
}
span {
    color: cyan;
}
.navbar a{
    font-size: 23px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0 .3s ease;
}
.navbar a:hover,
.navbar a.active{
    color: #0ef;
    border-bottom: 3px solid cyan;
}
.contact{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 14px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
}
.contact:hover {
    background-color: #0ef;
    color: #081b29;
    box-shadow: 0 0 30px #0ef;
}
.home{
    width: 100%;
    min-height: 100vh; 
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}
.home-content{
    max-width: 600px;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}
.home-content h1{
    font-size: 46px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}
.home-content p{
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
}
.home-content h3 span {
    color: #0ef;
}
.img-box img{
    border-radius: 65%;
    color: #081b29;
    width: 330px;
    padding: 3%;
    margin-top: 20%;
    border: 3px solid white;
    box-shadow: 0 0 25px cyan,
               0 0 50px cyan;
}
.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.home-sci a:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}
.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
}
.btn-box:hover {
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan
}
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10% 8%;
    gap: 10em;
    background: #081b29;
}
.about-img img {
    position: relative;
    width: 350px;
    border-radius: 50%;
    padding: 3%;
    border: 3px solid white;
    box-shadow: 0px 0px 3vw 1vw cyan;
    
}
.about-content h2 {
    text-align: left;
    color: white;
    font-size: 32px;
}
.about-content h3 {
    font-size: 42px;
    color: white;
}
.about-content p {
    color: white;
    font-size: 17px;
    margin: 2rem 0 3rem;
}
.btn-2 {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}
.btn-2:hover {
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan
}
#services {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
.sub-title {
    text-align: center;
    font-size: 60px;
    padding-bottom: 20px;
}
.sub-title span {
    color: #0ef;
}
.container {
    padding: 90px;
}
.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div {
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7,
    1px 1px 40px #0053b8f7
}
.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a {
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.read {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 14px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
}
.read:hover {
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan
}
.services-list div:hover {
    transform:  translateY(-10px);
}
.container1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
}
.skill-box {
    padding: 1rem;
    color: white;
    cursor: pointer;
}
.skill-box:hover > .skill-title:after, .skill-box:hover > .skill-title:before{
    width: 35px;
}
.skill-box:hover .img {
    transform: translateY(-10px);
}
.skill-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
} 
.skill-title:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color: #0ef;
    transition: .5s;
}
.skill-title:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background-color: #0ef;
    transition: .5s;
}
.img {
    width: 70px;
    height: 70px;
    position: relative;
    border-radius: 45px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
.img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 70px;
    background: rgba(100, 100, 100, 0.5);
    border-radius: 40px 0 0 40px;
}
.skill-title h3{
    color: #fff;
    margin: 0.5rem;
}
.skill-icon {
    z-index: 2;
}
.main-text {
    padding-top: 10px;
    margin-top: 80px;
}
.main-text h2{
    font-size: 60px;
    line-height: 3;
    text-align: center;
}
.main-text h2 span {
    color: cyan;
}
.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(359px,auto));
}
.row {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}
.row img {
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}
.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1),#0ef);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}
.layer h5{
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.layer p{
    color: #000;
    font-size: 1rem;
    line-height: 1.8;
}
.layer i{
    color: #ff004f;
    margin-top: 20px;
    font-size: 20px;
    background: #fff;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.row:hover img {
    transform: scale(1.1);
}
.row:hover .layer {
    height: 100%;
}
.contact1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 70px;
}
.contact1-text h2{
    font-size: 70px;
    line-height: 4;
    text-align: center;
    align-items: center;
}
.contact1-text h2 span{
    color: #0ef;
}
.contact1-text h4{
    margin: 15px 0;
    color: rgb(288, 288, 288);
    font-size: 20px;
    font-weight: 600;
}
.contact1-text p{
    color: rgb(231, 231, 231);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}
.contact1-list{
    margin-bottom: 3rem;
}
.contact1-list li{
    margin-bottom: 10px;
    display: block;
}
.contact1-list i{
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}
.contact1-list li a:hover {
    transform: scale(1,1.01) translateY(-5px);
    color: #0ef;
}
.contact1-icons i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin:20px 10px 0;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.1s * var(--i));
}
.contact1-icons i:hover {
    background: #0ef;
    color: #000;
    box-shadow: 0 0 20px #0ef;
}
.contact-form form {
    position: relative;
}
.contact-form form input,form textarea{
    border: none;
    outline: none;
    width: 85%;
    padding: 18px;
    background: rgba(127, 126, 127, 0.4);
    color: #fee9e9;
    font-size: 1rem;
    margin-bottom: 0.6rem;
    border-radius: 0.5rem;
}
.contact-form textarea{
    resize: none;
    height: 170px;
}
.contact-form form .Send{
    display: inline-block;
    margin: 10px;
    padding: 14px 60px;
    background: #0ef;
    border-radius: 40px;
    font-size: 18px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
}
.last-text p{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background:rgb(7, 85, 91);
    font-weight: 300;
    margin-top: 70px;
    font-size: 18px;
}
.top{
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
}
.top i{
    color: #000;
    background: #0ef;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}
























@media screen and(max-width:990px){
    .container{
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 50px;
    }
}
@media screen and(max-width:650px){
    .container{
        grid-template-columns:  1fr;
        padding: 2rem 50px;
    }
}
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
/*::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-thumb {
    background-color: black;
}
::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
    width: 50px;
}*/
